body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

.hero-banner {
  height: 100%;
  background-image: url("./hero-banner.avif");
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.hero-banner .weather-block {
  background-color: #24333b;
  min-width: 800px;
  min-height: 600px;
  opacity: 0.85;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.color-primary {
  color: #d99349;
}

/* Hero Header */
.weather-block .title {
  text-align: center;
}

.weather-block .title h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0;
}

/* Search bar */
.search-bar {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: small;
  margin: 1rem 1rem 0 1rem;
}

.search-textfield {
  width: 81%;
  margin-right: 0.75rem;
}

.search-textfield input[type="text"] {
  width: 100%;
  border: none;
  border-radius: 1.75rem;
  background: #4d5c67;
  height: 2.5rem;
  padding: 12px;
  appearance: none; /* Remove default styles (browser-specific) */
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-textfield input[type="text"]:hover {
  border-color: #888;
}

.search-textfield input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-textfield input[type="text"]::placeholder {
  color: #aaa;
  font-style: italic;
}

.search-button button {
  border: none;
  border-radius: 1.75rem;
  height: 2.5rem;
  padding: 12px;
  background: #d99349;
  color: #fff;
}

/* Search result */
.search-result {
  display: flex;
  justify-content: flex-start;
  background: #353f46;
  border-radius: 1rem;
  margin: 2rem 3rem;
}

.search-result div {
  margin-left: 10rem !important;
  text-align: center;
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.font-bold {
  font-weight: bold;
}

.font-larger {
  font-size: 2rem !important;
}

/* Daily Forecast */
.daily-forecast {
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  justify-content: space-between;
}

.mini-box {
  background: #353f46;
  border-radius: 1rem;
  width: 23%;
  min-height: 130px;
  text-align: center;
}

.mini-box h2 {
  color: #d99349;
}

.mini-box p {
  color: #fff;
}

.color-white {
  color: #fff;
}

.color-gray {
  color: rgb(177, 175, 175);
}